.root {
    position: sticky;
    top: 0rem;
    z-index: 1;
    background: #000;
  }

.selected {
    border-bottom: 1px solid;
    color: #ffffff;
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    margin-left: 30px;
}

.selectedTransparent {
    transition: all 0.15s ease-in-out;
    border-bottom: 1px solid transparent;
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    margin-left: 30px;
}

.selectedTransparent:hover {
    border-bottom: 1px solid;
    color: #ffffff;
}