.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.background {
  background-color: #9260f0;
}

.left {
  /* font-family: 'Sriracha', cursive; */
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.logo {
  font-size: 1.2rem;
}

.navTitle {
  /* font-family: 'Sriracha', cursive; */
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.marginZero {
  margin: 0;
}

@media (max-width: 599px) {
  .left, .right {
    text-align: center;
  }


}